<!DOCTYPE html>
<html lang="en" , xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${title}"></title>
</head>
<body>
<h1 th:text="${title}"></h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>LASTNAME</th>
        <th>EMAIL</th>
        <th>PHONE NUMBER</th>
        <th>CREATED DATE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="client: ${clients}">
        <td th:text="${client.id}"></td>
        <td th:text="${client.name}"></td>
        <td th:text="${client.lastname}"></td>
        <td th:text="${client.email}"></td>
        <td th:text="${client.phoneNumber}"></td>
        <td th:text="${client.createdDate}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>